<!DOCTYPE html>
<html>
<head>
	<title>data</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h3>verify Your Data</h3>
	<div>
		<h4>name: </h5> <p><%= name %></p>
	</div>
	<div>
		<h4>e-mail ID: </h5><p><%= id %></p>
	</div>
	<form method="post" action="/success">
	<button>save</button>
</form>
	
	
</body>
</html>